
    <tr> 

      <td>
        <%= link_to friend.first_name + " " + friend.last_name, friend %>
        </td>
      
      <td><%= friend.email %></td>
      <td> <%= friend.phone %></td>
      <td> <%= friend.twitter %></td>
      
      <td> <%= button_to "Delete Friend", friend, method: :delete,class:"btn btn-danger btn-sm"  %>
      </td>
         </tr>



